body{
    margin: 0%;
}

section{
    height: 100vh;
    background-color: black;
    margin: 0;
    padding: 0%;
}

.hover-image {
    max-width: 15%; /* Adjust the percentage as needed */
    max-height: 15%; /* Adjust the percentage as needed */
    transition: transform 0.3s ease-in-out;
}

.hover-image:hover {
    transform: scale(3.5);
}

.header{
    display: flex; /* Enable flex container behavior */
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Align child elements to the center horizontally */
    justify-content: flex-start; /* Align child elements to the start of the container vertically */
    color: white;
    font-family: "acier-bat-noir", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}

.back{
    font-family: "acier-bat-strokes", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0%;
    margin: 0%;
}

.back{
    position: absolute; /* Add this line to position it absolutely within the section */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    font-size: 300%;
    padding: 0%;
    margin: 0%;
}

.back :hover{
    font-family: "acier-bat-outline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

  /* unvisited link */
  a:link {
    color: rgb(255, 255, 255);
}

  /* visited link */
a:visited {
    color: white;
}

body a {
    text-decoration: none;
}