body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: chocolate;
}
/* visited link */
a:visited {
    color: white;
  }
h1{
    text-align: right;
    font-size: 600%;
    color: aliceblue;
    animation: infinite;
    animation: mymove 5s infinite;
    animation-direction: alternate-reverse;
    position: relative;
    animation-name: move;
    animation-duration: infinite;
}

@keyframes move {
    0%   {background-color:chocolate; left:0px; top:0px;}
    25%  {background-color:chocolate; left:0px; top:50px;}
    50%  {background-color:chocolate; left:0px; top:200px;}
    75%  {background-color:chocolate; left:0px; top:350px;}
    100% {background-color:chocolate; left:0px; top:500px;}
  }


.back{
    font-size: 200%;
    color: white;
  }

.back :hover{
    text-transform: uppercase;
    color: white;
  }