body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(169, 205, 169);
}

h1{
    font-size: 600%;
    position: absolute;
    letter-spacing: -2px;
    color: rgb(222, 94, 119);
    animation: mymove 5s infinite;
    animation-name: move;
    animation-duration: 4s infinite;
    animation-direction: alternate;
}

@keyframes move{
    0% {color:(222, 94, 119) ; left: 0%; top: 0%;}
    25% {color: beige; left: 0%; top: 25%;}
    50% {color: beige; left: 0%; top: 50%;}
    100% {color:(222, 94, 119) ; left: 50%; top: 75%;}

}

.back{
    font-size: 200%;
    color: white;
  }

.back :hover{
    text-transform: uppercase;
    color: white;
  }
